#logo{
	width: 50px;
	height: 50px;
	border-radius: 400px;

}

/*body{
	background-image: url("quote.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
*/
.btn{
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}

.btn-primary{
  background-color: blue;
  border-color: blue;
  width: 100px;
}
.btn-primary:hover{
  background-color: darkorange;
  border-color: darkorange;
  border-width: 4px;
}
.mahi1{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.mahi2{
	display: flex;
	flex-direction: row;
}
hr{
	background-color: gray;
}
.connect1{
	background-color: darkorange;
	background-image: url('book2.jpg');
	width: 100%;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.complaint1{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.n-logo {
  width: 100px;
  height: 100px;
  transition-delay: 1s;
  transition-duration: 2s;
}

.n-logo:hover {
  width: 200px;
  height: 200px;
  transform: scale(1.0);
}